$mainFont: "Roboto", sans-serif;
$containerBorderColor: #14a4ba;
$containerBgColor: rgba(233, 229, 218, 0.9);
$titleColor: #93599f;
$mainFontColor: #470358;
$rightColor: #4cae13;
$almostColor: #f39b11;
$failColor: #e33b35;
$buttonTextColor: #6f4679;
